<div class="row">
    <div class="col-8 offset-2">
        <div class="block">
            <div class="my-page-header">
                <div class="my-profile">
                    <p><%= attachment_image_tag @user, :profile_image, size: "80x80", fallback: "no_image.jpg", class: "rounded-image" %></p>
                    <p><%= @user.name %></p>
                    <p><%= @user.self_introduction %></p>
                    <div class="setting-icon">
                        <% if @user.id == current_user.id %>
                            <%= link_to "",  edit_user_path(@user), class: "fas fa-cog" %>
                        <% end %>
                    </div>
                    <span>
                        <%= link_to user_followes_path(@user) do %>
                        フォロー<%= @user.follower.count %>
                        <% end %>
                    </span>
                    <span>
                        <%= link_to user_followers_path(@user) do %>
                        フォロワー<%= @user.followed.count %>
                        <% end %>
                    </span>
                    <%= render 'relationships/follow_btn', user: @user %>
                    </div>
            </div>

            <div class="my-content">
                <ul class="nav nav-tabs justify-content-center ">
                    <li class="nav-item">
                        <%= link_to "投稿", posts_path, class: "nav-link active" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "グラフ", posts_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>